<div class="col-md-3 left_col">
  <div class="left_col scroll-view">
  
    <div class="navbar nav_title" style="border: 0;">
      <a href="index.html" class="site_title"><i class="fa fa-motorcycle"></i> <span>Leno Motos</span></a>
    </div>

    <div class="clearfix"></div>
    <div class="profile">
      <div class="profile_pic">
        <img src="images/img.jpg" class="img-circle profile_img">
      </div>
      <div class="profile_info">
        <span>Bem - vindo,</span>
        <h2>Leno</h2>
      </div>
    </div>

    <br/>

    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
      <div class="menu_section">
        <h3>General</h3>
        <ul class="nav side-menu">
          <li><a href="index.html" class="current-page"><i class="fa fa-shopping-cart"></i>Ver vendas</a></li>
          <li><a href="vender.html"><i class="fa fa-shopping-cart"></i>Vender</a></li>
          <li><a href="cliente.html"><i class="fa fa-user"></i> Clientes </a></li>
          <li><a href="produtos_servicos.html"><i class="fa fa-cubes"></i> Produtos e serviços </a></li>
        </ul>
      </div>
    </div>

  </div>
</div>